<div class="login-card" [ngClass]=" { snapped:buttonText==='Opss,unSnap!'}">
    <h2>{{login.title}}</h2>
    <p>Mis en ligne le {{login.createdDate}}</p>
    <img [src]="login.imageUrl" [alt]="login.title">
    <p>{{login.description}}</p>
    <p>   
<button (click)="onSnap()">{{buttonText}}</button>
{{login.snaps}}
    </p>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">