.landing-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  img{
    text-align: center;
    width: 50%;
    height: 50%;
  }  
.landing-links {
    width: 100%;
    text-align: center;
    }
a {
        margin: 0 10px;
        color: #333;
        text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    }
   